world/
logs/
minetweaker.log
whitelist.json
usercache.json
ops.json
eula.txt
banned-ips.json
banned-players.json
ForgeEssentials/
asm/
backups/
hats/
config/JourneyMapServer/
config/AppliedEnergistics2/recipes/generated/
crash-reports/
registry.dump
usernamecache.json
installer.log
ModList.txt
config/BloodMagic/schematics/
config/AppliedEnergistics2/recipes/README.html
config/Natura-Dynamic.json
confg/worldedit/worldedit.properties