# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=aae3c097-f64e-43b9-aecd-5039d64f20b0

    # Set to true to disable all reporting
    B:opt-out=false
}


